<footer class=" text-center" style="background-color: #0082ca;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-2">

        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #004aca;"

          href="https://www.linkedin.com/in/hamza-saeed-443a17176/"
          role="button"
          >
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #004aca;"

          href="https://www.instagram.com/itx.me.hamxa/"
          role="button"> 
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
  
        <!-- FAcebook -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #004aca;"
          href="https://www.facebook.com/hamzasaeed00786/"
          role="button"
          >
       <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <!-- Github -->
        <a 
          class="btn text-white btn-floating m-1"
          style="background-color: #004aca;"

          href="https://github.com/HamzaSaeed07"
          role="button"> <fa-icon [icon]="faGithub" ></fa-icon>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:#0082ca;">
      <span style="color:aliceblue">©2022 Copyright:</span> 
      <a class="text-white" href="">    Hamza Saeed</a>
    </div>
    <!-- Copyright -->
  </footer>