  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../../assets/images/a.jpg" class="d-block w-100" alt="...">
        <!-- <div class="carousel-caption d-none d-md-block">
          <a class="nav-link" href="../../../assets/images/Hamza Saeed's CV.pdf">Hamza's CV</a>
 
          </div> -->
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/images/c.jpg" class="d-block w-100" alt="...">
        <!-- <div class="carousel-caption d-none d-md-block">
          <a class="nav-link" href="../../../assets/images/Hamza Saeed's CV.pdf">Hamza's CV</a>

          </div> -->
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/images/b.jpg" class="d-block w-100" alt="...">
        <!-- <div class="carousel-caption d-none d-md-block">
          <a class="nav-link" href="../../../assets/images/Hamza Saeed's CV.pdf">Hamza's CV</a>

          </div> -->
      </div>
    </div>
  </div>
